<html>
    <head>
        <title>choice</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 
 <script>


       
        </script>
 
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
      <script type=text/javascript>
              $().ready(function() {
             $('#add').click(function() {
              return !$('#select1 option:selected').remove().appendTo('#select2');
             });
             $('#remove').click(function() {
              return !$('#select2 option:selected').remove().appendTo('#select1');
             });
            }); 

          $(function() {
            $('a#calculate').bind('click', function() {
              $('#select2 option').each(function(i) {  
            $(this).attr("selected", "selected");  
          });   

          $.getJSON($SCRIPT_ROOT + '/_select', {
              a:  $('#select2').val()[0],
              b:  $('#select2').val()[1]
            }, function(data) {
              $("#result").html("<a href=" + data.result + ">link</a>"); 
            });
            return false;
          });
          });
    </script>
<div>   
  <select multiple id="select1">
    {% for link in top100Urls %}
        <option value="{{ link }}">{{ link | amazonLinkToProductName }}</option>
    {% endfor %} 
  </select>  
  <a href="#" id="add">add &gt;&gt;</a>  
 </div>  
 <div>  
  <select multiple id="select2">

        <option value="{{ top100Urls[0] }}">{{ top100Urls[0] | amazonLinkToProductName }}</option>
 

        <option value="{{ top100Urls[3] }}">{{ top100Urls[3] | amazonLinkToProductName }}</option>
    </select>  
  <a href="#" id="remove">&lt;&lt; remove</a>  
 </div>  

 <p><a href=# id=calculate>calculate server side</a>

   <div id=result></div>
   

    </body>
</html>
 